/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse; border-spacing:0;}

/* */

.floraElement {
	position: absolute; left: 0; top: 0;
	border-radius: 10%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #f6edd2;
	background-image: -webkit-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -webkit-gradient(circle, #fefefe, #f6edd2);
	background-image: -moz-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -o-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -ms-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: radial-gradient(circle, #fefefe, #f6edd2);
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.world {
	background: #000;
	background-image: -webkit-radial-gradient(circle, #fff, #000);
	background-image: -webkit-gradient(circle, #fff, #000);
	background-image: -moz-radial-gradient(circle, #fff, #000);
	background-image: -o-radial-gradient(circle, #fff, #000);
	background-image: -ms-radial-gradient(circle, #fff, #000);
	background-image: radial-gradient(circle, #fff, #000);
	position: absolute;
	margin: 0 auto;
	z-index: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.agent {
	z-index: 1;
	background: rgb(197, 177, 115);
	border-color: rgb(255, 255, 255);
	border-width: 0.25em;
	border-style: solid;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
}

.agent.hasSensor {
	border-radius: 100%;
}

.nose {
	position: absolute;
	left: 80%;
	top: 40%;
	width: 20%; height: 20%;
	background: rgb(255, 255, 255);
}

.walker {
	background: rgb(255, 150, 50);
	border-color: rgb(255, 255, 255);
	border-width: 0.15em;
	border-style: solid;
	border-radius: 100%;
}

.oscillator {
	background: rgb(200, 100, 0); opacity: 0;
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
	border-style: solid;
	border-width: thick;
	border-color: rgb(255, 150, 50);
	box-shadow: 0 0 0 .5em rgba(255, 255, 255, 1);
}

.particle {
	background: rgb(200, 20, 20); opacity: 0;
}

.particle-system {
	background: transparent; opacity: 0;
}

.liquid {
	background: rgb(105, 210, 231);
	opacity: 0.75;
	z-index: 10;
	border-width: 1em;
	border-color: rgb(167, 219, 216);
	border-style: double;
	border-radius: 100%;
	box-shadow: 0 0 0 1em rgb(224, 228, 204);
}

.repeller {
	background: rgb(250, 105, 0);
	opacity: 0.75;
	z-index: 10;
	border-width: 1em;
	border-color: rgb(224, 228, 204);
	border-style: double;
	border-radius: 100%;
	box-shadow: 0 0 0 1em rgb(243, 134, 48);
}

.attractor {
	background: rgb(32, 102, 63);
	opacity: 0.75;
	z-index: 10;
	border-width: 1em;
	border-color: rgb(204, 238, 141);
	border-style: double;
	border-radius: 100%;
	box-shadow: 0 0 0 1em rgb(37, 153, 89);
}

.connector {
	background: transparent; opacity: .1;
	border-top: 2px dotted #ff0000;
}

.point {
	background: rgb(255, 255, 255); opacity: 0;
	z-index: 1;
	border-radius: 100%;
	border: 3px solid rgba(0, 0, 0, 1);
}

.sensor {
	opacity: 0.5;
	z-index: 1;
	border-radius: 100%;
	border: 1px solid rgb(255, 255, 255);
}
.flowFieldMarker {

}

.cyclone {
	position: absolute; left: 0; top: 0;
	width: 0; height: 0;
	background: transparent; opacity: 0;
	border-radius: 5px;
}

/* STIMULATORS - start */
.cold {
	border-radius: 50px; /* ? */
	background: rgb(132, 192, 201);
}

.food {
	background: rgb(155, 231, 93);
}

.heat {
	background: rgb(255, 69, 0);
	opacity: 0.75;
	z-index: 10;
	border-width: 1em;
	border-color: rgb(224, 178, 154);
	border-style: double;
	border-radius: 100%;
	box-shadow: 0 0 0 1em rgb(243, 134, 48);
}

.light {
	border-radius: 50px;
	background: rgb(255, 200, 0);
}

.oxygen {
	border-radius: 50px;
	background: rgb(0, 174, 239);
}

.predator {
	background: rgb(200, 0, 0);
}
/* STIMULATORS - end */


/* CAPTION */
.caption {
  width: auto;
  position: fixed;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  color: #000;
  text-align: center;
  padding: 0.75em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.caption.top.left {
	top: 0; left: 0;
}

.caption.top.center {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 0%;
}

.caption.top.right {
	top: 0; right: 0;
}

.caption.bottom.left {
	top: 90%; left: 0;
}

.caption.bottom.center {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	top: 90%;
}

.caption.bottom.right {
	top: 90%; right: 0;
}

/* STATS */
.statsDisplay {
	position: fixed;
	display: inline-block;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.75);
	border-bottom: 1px solid rgb(50, 50, 50);
	border-right: 1px solid rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	padding: 0.35em;
	font-family: Helvetica;
	font-size: 0.85em;
}

.statsDisplayLabel {
	display: inline-block;
	color: rgb(150, 150, 150);
	margin-left: 0.75em;
}

.statsDisplayLabel:first-child {
	margin-left: 0;
}
