body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%; height: 100%;
  background-color: rgb(0, 0, 0);
}

.hasSensor {
  border-radius: 100%;
}

.nose {
  position: absolute;
  left: 80%;
  top: 40%;
  width: 20%; height: 20%;
  background: rgb(255, 255, 255);
}


/* CAPTION / INPUT MENU */
.caption, .inputMenu {
  width: auto;
  position: absolute;
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.captionTop, .inputMenuTop {
  bottom: 90%;
}

.captionBottom, .inputMenuBottom {
  top: 90%;
}

.captionLeft, .inputMenuLeft {
  left: 0;
}

.captionRight, .inputMenuRight {
  right: 0;
}

.captionCenter, .inputMenuCenter {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
