/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}ol,ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}:focus{outline:0;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse; border-spacing:0;}
	
/* */

body {
	background: #f6edd2;
	background-image: -webkit-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -webkit-gradient(circle, #fefefe, #f6edd2);
	background-image: -moz-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -o-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: -ms-radial-gradient(circle, #fefefe, #f6edd2);
	background-image: radial-gradient(circle, #fefefe, #f6edd2);
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

header, footer, section {
	display: block;
}

h1, h2, h3 {
	color: #999;
}

p {
	font-size: .85em;
	line-height: 1.25em;
	color: #444;
}

p {
	padding-bottom: 1em;
}

a {
	text-decoration: none;
	color: #ff4500;
}
a:hover {
	text-decoration: underline;
	color: #ff4500;
}
a:visited {
	text-decoration: none;
	color: #b13000;
}
.book-title {
	font-style: oblique;
}
section {
	padding: 1em 0;
	border-bottom: 1px solid #ddd;
}

section:last-child {
	border: none;
}

#wrapper {
	width: 90%;
	margin: 0 auto;
	
}

/* nav */

.navigation {
	position: relative;
	background: #cebd87;
}

.nav-button {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: -3px;
	width: 100px; height: 100px;
	background: #000;
	text-decoration: none;
	opacity: 1;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-o-transition: .5s;
	-ms-transition: .5s;


	background-image: -o-linear-gradient(-90deg, #fff 50%, #000 49%, #000 100%);
	background-image: -moz-linear-gradient(-90deg, #fff 50%, #000 49%, #000 100%);
	background-image: -webkit-linear-gradient(-90deg, #fff 50%, #000 49%, #000 100%);
	background-image: -webkit-gradient(-90deg, #fff 50%, #000 49%, #000 100%);
	background-image: -ms-linear-gradient(-90deg, #fff 50%, #000 49%, #000 100%);
	background-image: linear-gradient(-90deg, #fff 50%, #000 49%, #000 100%);

	border: 1px solid #979797;

}

.nav-button:hover {
	opacity: .75;
}

.nav-button:active {
	opacity: .5;
}
.nav-button.home {
	text-decoration: none;
}
.nav-button.social {
	background: transparent;
	background-image: none;
}

.nav-button.social .nav-link.twitter {
	padding-top: 1em;
}

.nav-link.twitter {
	top: 5%;
	bottom: auto;
	color: #000;
}

.nav-button.social .nav-link.fb {
	padding-bottom: 1em;
}

.nav-link {
	position: absolute;
	left: 5%; bottom: 5%;
	text-decoration: none;
	color: #fff;
	font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
	font-size: 1em;
}


.navigation .home .nav-link {
	color: #ff4500;
}


.navigation .social {
	position: absolute;
	top: 0; right: 0;
	margin-right: 0;
}

.navigation .home {
	width: 300px;
	line-height: .8em;
	font-size: 4em;
	font-weight: bold;
	text-transform: uppercase;
	background-image: none;
}

/* content */

.content {
	background: #fff;
}

.content-inner {
	padding: 1em;
}

.section-title {
	font-size: 1.5em;
	line-height: 2em;
}

section p {
	width: 75%;
}


/* feature */

.container-feature {
	display: inline-block;
	vertical-align: top;
	margin-right: -5px;
	width: 318px;
	border: 1px solid #aaa;
	background: #eee;
	margin-bottom: 1em;
	text-decoration: none;
}

.feature-img {
	height: 318px;
	background: #ccc;
}
.feature-img.alive {
	background: #000 url('/img/vehicle1_ALIVE.png');
}
.feature-img.coward {
	background: #000 url('/img/vehicle2a_COWARD.png');
}
.feature-img.aggressive {
	background: #000 url('/img/vehicle2b_AGGRESSIVE.png');
}
.feature-img.loves {
	background: #000 url('/img/vehicle3a_LOVES.png');
}
.feature-img.explorer {
	background: #000 url('/img/vehicle3b_EXPLORER.png');
}
.feature-img.values {
	background: #000 url('/img/vehicle3c_VALUES.png');
}

.feature-img.curious {
	background: #000 url('/img/particles1_CURIOUS.png');
}
.feature-img.smother {
	background: #000 url('/img/particles2_SMOTHER.png');
}
.feature-img.flirt {
	background: #000 url('/img/particles3_FLIRT.png');
}


.feature-details {
	background: #fff;
	font-size: .65em;
}
.feature-details-inner {
	padding: 1em;
}

/* braitenberg */

.container-behavior, .container-vehicle-description {
	display: inline-block;
	vertical-align: middle;
}
.container-behavior {
	color: #ff4500;
	opacity: .85;
	font-size: 3em;
	font-weight: bold;
}

.vehicle-type, .theme {
	color: #999;
	font-size: 1em;
	padding-left: 0.5em;
	line-height: 1.5em;
}

.theme {
	font-family: Georgia, Times, "Times New Roman", serif;
	font-style: oblique;
	font-size: .8em;
	color: #aaa;
}


/* footer */

.footer {
	background: #bfdcdc;
}